<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="success"></ion-icon>

      </ion-button>
    </ion-buttons>
    <ion-title>Registro Estudiante</ion-title>
  </ion-toolbar>
</ion-header>


      <ion-content [fullscreen]="true">
        <ion-header collapse="condense">
          <ion-toolbar>
            <ion-title size="large">Registrate!</ion-title>
          </ion-toolbar>
        </ion-header>

        <form [formGroup]="registForm">
          <ion-item lines="full">
            <ion-label position="floating">Nombre:</ion-label>
            <ion-input type="text" formControlName="username"  placeholder="Papu..." required></ion-input>
          </ion-item>

          <!-- <div *ngIf="registForm.get('username')?.invalid && (registForm.get('username')?.dirty || 
              registForm.get('username')?.touched)">
            <div style="color:red" *ngIf="registForm.get('username')?.hasError('required')">
              *Username es obligatorio
            </div>
            <div style="color:red" *ngIf="registForm.get('username')?.hasError('minlength')">
              *Username debe tener mínimo 4 caracteres
            </div>
          </div>  -->
      
          <ion-item lines="full">
            <ion-label position="floating">Email:</ion-label>
            <ion-input type="text" formControlName="email" placeholder="papu_@gmail.com" required></ion-input>
          </ion-item>
      
          <ion-item lines="full">
            <ion-label position="floating">Edad:</ion-label>
            <ion-input type="number" formControlName="edad" placeholder="17" min="17" max="100" required></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Password:</ion-label>
            <ion-input type="password" formControlName="password"  placeholder="ColoColo123..." required></ion-input>
          </ion-item>


          <ion-item>
            <ion-label position="floating">Jornada: </ion-label>
            <ion-select formControlName="jornada">
              <ion-select-option value="Diurno">Diurno</ion-select-option>
              <ion-select-option value="Vespertino">Vespertino</ion-select-option>
            </ion-select>
          </ion-item>
      
            
          <ion-row>
            <ion-col>
              <ion-button (click)="registrarUsuario()" expand="block" color="success">Registrarse</ion-button>
            </ion-col>
          </ion-row>
        </form>

</ion-content>
